body{
  background-color: cyan;
margin:0px;}



  div{
    height:200px;
    width: 200px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke:2px black;
    color: white;
    margin: 0 auto;
    float:left;
    text-indent: 5px;
  }

.clear{clear:both;}

.class{
width: 800px;
height: 200px;
}


  #uno{background-color: pink;
  float: left;}

  #dos{background-color: purple;
  float: left;}

  #tres{background-color: #FF00CC;
  float: left;}

  #cuato{background-color: #CC0099;
  float: left;}

  #cinco{background-color: #CC99CC;
  float: left;}

  #seis{background-color: #990099;
  float: left;}

  #siete{background-color: #AA00AA;
  float: left;}

  #ocho{background-color: #FF00FF;
  float: left;}

  #nueve{background-color: #EE00EE;
  float: left;}

  #diez{background-color: #FFCCFF;
  float: left;}

  #once{ background-color:#9900CC;
  float: left;}

  #doce{ background-color:#996699;
  float: left;}

  #trece{ background-color: #FF00CC;
  float: left;}

  #catorce{ background-color: #0000FF;
  float: left;}

  #quince{ background-color: #996699;
  float: left;}

  #dieciseis{ background-color:#CC3399;
  float: left;}

  #diciesete{background-color: #663366;
  float: left;}

  #dieciocho{ background-color: #6633CC;
  float: left;}

  #diecinueve{ background-color:#6666CC;
  float: left;}

  #veinte{background-color:#000099;
  float: left;}
