body{
  background-color: pink;
}

form{
  width: 200px;
  height: 200px;
  padding: 16px;
  border-radius: 10px;
  margin:auto;
  background-color: white;
}

p{
  color:black;
}

h1{
  text-align: center;
}
