body{
  background-color: cyan;

}
#nav{
  height: 100px;
  width: 800px;
}

#contenedor{
  height: 200px;
  width: 200px;
}

h1{
  width: 30px;
  height: 30px;
  color: black;
  text-align: center;
  text-shadow: 10px;
  margin-left: 670px;

}

.boletes{ height: 100px;
width: 100px;
border-radius: 50px;
font-size: 20px;
color:white;
line-height: 90px;
text-align: center;
margin-top: 65px;
margin-left: 10px;
margin-right: 10px;
}

.boletes:hover{color:black;
font-size:50px}


#b1{
background-color: purple;
float:left;
margin-left:200px;
top:50px;
}

#b2{background-color:navy;
float:left;}

#b3{background-color: orange;
float:left;}

#b4{background-color: #9E0000;
float:left;}

#b5{background-color: blue;
float:left;}

#b6{background-color: #2FDC47;
float:left;}

#binici{background-color: #E2C928;
float: left;
margin:50px;
font-size: 15px;
font-family: cursive;}
